.todo{
  display: flex;
  flex-direction: row;
  width: max-content;
}
.todo-completed-false,
.todo-completed-true{
  display: flex;
  flex-direction: column;
}
.todo-completed-false .line{
  width: 0.25vh;
  height: 12.5vh;
  visibility: visible;
  background-color: black;
}
.drag-handler{
  cursor: grab;
}
.drag-handler:active{
  cursor: grabbing;
}
.left-side{
  width: 10vh;
  height: 12.5vh;
}
.text{
  overflow-wrap: break-word;
  background-color: white;
  text-align: center;
  padding-top:1.7vh;
  font-size: 3.em;
}
.text:hover{
  cursor: pointer;
}
.date{
  background-color: lightgray
}
.todo-completed-false:hover .menu-extension .menu{
  visibility: visible;
}
.menu:hover{
  cursor: pointer;
}
.dateColumn{
  display: flex;
  flex-direction: column  ;
  text-align: center;
}
.sides{
  display: flex;
  flex-direction: row ;
}
.todo-completed-false .menu-extension .menu,
.todo-completed-true .menu-extension .menu{
margin-top: 4.5vh;
margin-left: 25%;
visibility: hidden;
}

.circle-color{
 width: 6.6vh;
 height: 6.6vh;
 border-radius: 50%;
 margin-top: 2.5vh;
 margin-left: 1.7vh;
 margin-right: 1vh;
 padding-top: 1.3vh;
 padding-left: 0.3vh;
}
.doneText{
display: none;
}
.circle-color:hover .doneText{
display: initial;
font-size: 2vh;
cursor: pointer;
}


.todo-completed-false .left-side .circle-color:hover,
.todo-completed-true .left-side .circle-color:hover{
background-color: white
}

.todo-completed-true{ 
  display:  none;
}










/* .todo-completed-false
.todo-completed-true {
  display: flex;
  flex-direction: column;

}

.todo-completed-false .todo {
  display: flex;
  flex-direction: row;
}


.todo-completed-false .todo:hover .edit-button,
.todo-completed-false .todo:hover .remove-button {
  display: initial;
}
.todo-completed-false .todo:hover .status-icon{
  display: none;
}
.todo-completed-false .todo .todo-title {
  text-align: center;
  flex: 0.5;
  max-width: 300px;
  background-color: lightgray;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 100px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}


.todo-completed-false .todo .status-icon,
.todo-completed-false .todo .status-label,
.todo-completed-false .todo .remove-button,
.todo-completed-false .todo  .edit-button{
  flex: 0.1;
  width: 50px;
  height: 50px;
  border-style: solid;
  cursor: pointer;
  float: right;
  border-width: 1px;
  border-radius: 100px;
  visibility: visible;
  margin: 10px;
  margin-left: 10px;
  padding: 10px;
}

.todo-completed-false .todo .remove-button {
  background-color: lightsalmon;
  text-align: center;
  display: none;
  border-color: lightsalmon;
}
.todo-completed-false .todo .edit-button {
  flex: 0.1;
  background-color: lightblue;
  border-color: lightblue;
  display: none; 
  text-align: center
}

.nodetrue{
  display: none;
  visibility: hidden
} */
