.status-editor-container,
.dueDate-editor-container,
.title-editor-container{
  display: flex;
  flex-direction: column;
}

.editors{
  margin-left: 4%;
  width: 1000px;
  height: 200px;
  border-style: solid;
  border-width: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-color: lightgray;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.right-side{
  display: flex;
  flex-direction: column;
}
.circles{
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-left:16vh;
}
.circles:hover{
  cursor: pointer;
}

.green-circle,
.white-circle,
.red-circle,
.blue-circle,
.yellow-circle,
.purple-circle,
.brown-circle{
  width: 50px;
  border-radius: 50px;
  height: 50px;
  margin:5px;
}
.green-circle{
  background-color: 	limegreen;
}
.white-circle{
  background-color: white;
  border-color: grey;
  border-width: 1px;
  border-style: solid
}
.red-circle{
  background-color: 	tomato;
}
.blue-circle{
  background-color: lightskyblue;
}
.yellow-circle{
  background-color: 	khaki;
}
.purple-circle{
  background-color: 	blueviolet ;
}
.brown-circle{
  background-color: peru;
}
