.status-editor-container,
.dueDate-editor-container,
.title-editor-container{
  display: flex;
  flex-direction: column;
}

.editors{
  margin-left: 4%;
  width: 1000px;
  height: 200px;
  border-style: solid;
  border-width: 2vh;
  border-radius: 2vh;
  border-color: lightgray;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.right-side{
  display: flex;
  flex-direction: column;
}
.circles{
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-left:16vh;
}

.green-circle,
.red-circle,
.blue-circle,
.yellow-circle,
.purple-circle,
.brown-circle{

  width: 50px;
  border-radius: 50px;
  height: 50px;
  margin:5px;
}
.green-circle{
  background-color: green;
}
.red-circle{
  background-color: red;
}
.blue-circle{
  background-color: blue;
}
.yellow-circle{
  background-color: yellow;
}
.purple-circle{
  background-color: purple ;
}
.brown-circle{
  background-color: brown;
}
