.add-todo-container{
  display: flex;
  flex-direction: row;
}
.add-todo-container .input{
  flex:11;
  background-color: #e9ecef;
  border-radius: 0.5vh;
  border-width: 0ch;
  margin: 0.5vh;
  font-size: 5vh;
}
.add-todo-container .submit{
  flex:2;
  background-color: #e9ecef;
  border-radius: 0.5vh;
  border-width: 0ch;
  margin: 0.5vh;
  text-align: center;
  font-size: 5vh
}